{{!找回登录密码模板}}
{{#section 'style'}}
    <link rel="stylesheet" href="{{static '/styles/hc-reset.css'}}"/>
    <link rel="stylesheet" href="{{static '/styles/hc-user.css'}}"/>
{{/section}}

    <!--login-->
    <div class="userlogin">
        <a href="/" title="花橙金融" class="hcicon logo"></a>
        <h2>找回你的登录密码？</h2>

        <div id="getpwd">
            <h3>花橙金融，你的在线理财专属银行</h3>
            <form name="forgetpassword" method="post" role="form" action="/forgetpassword" onsubmit="return hcuserScript.getpassword();">
                <dl  class="clear">
                    <dt class="error" id="error">{{error}}</dt>
                    <dd><label class="hcuser account">帐号</label><input type="text" name="account" placeholder="注册手机号码" id="account"><i>注册手机号码</i></dd>
                    <dd><label class="hcuser verify">验证码</label><input type="text" name="vercode"  placeholder="验证码" class="ver-code" id="vercode"><i>验证码</i><span><img src="/captcha" id="verpicture" /></span></dd>
                    <dd><label class="hcuser verify">验证码</label>
                        <input type="text" name="smallcode" placeholder="输入手机验证码" class="ver-code" id="authcode">
                        <i>输入手机验证码</i>
                        <button class="number-code hc-sale" id="send-code">发送短信</button></dd>
                    <dd><label class="hcuser password">新密码</label><input type="password" name="password"  placeholder="输入新密码" id="password"><i>输入新密码</i></dd>
                    <dd><label class="hcuser password">确认密码</label><input type="password" name="password-again"  placeholder="确认新密码" id="r-password"><i>确认新密码</i></dd>
                    
                    <dd><button class="submit" id="user-get">设置新密码</button></dd>
                    
                </dl>
            </form>
        </div>

        {{>bottom}}

    </div>
    <!--login eof-->

<!--javascript-->
<script src="{{static '/scripts/require.js'}}"  data-main="{{static '/scripts/wallet'}}"></script>
<!--javascript eof-->
<!--node:{{node}}-->