{{! 质押借款协议模板}}
{{#section 'style'}}
    <link rel="stylesheet" href="{{static '/styles/hc-reset.css'}}"/>
{{/section}}


    <div class="agreement">
        <a href="/" title="花橙金融" class="hcicon logo"></a>
        <a href="javascript:void(0);" onclick="window.print();" class="print">打印</a>
        <h2>质押借款协议</h2>
        <div>
            {{#user}}
            <h4>甲方（出借人）：{{Name}} </h4>
            <p>证件号码：{{IdCard}}</p>
            <p>花橙金融会员名：{{Username}} </p>
            {{/user}}
            <p>&nbsp;</p>
            {{#if item}}
            {{#each item}}
            <h4>乙方（借款人）：{{Company}}</h4>
            <p>营业执照号码：{{License}}</p>
            <h4>丙方： 花橙互联网金融信息服务（上海）有限公司</h4>

            <p>&nbsp;</p>

            <p>鉴于：</p>

            <p>（1）甲方已在花橙金融注册，具有签署本协议的行为能力并承诺对本协议涉及的借款具有完全的支配能力，是其自有闲散资金，为其合法所得；并承诺其提供给丙方的信息是完全真实的；</p>

            <p>（2）乙方已在花橙金融注册，并承诺其提供给丙方的信息是完全真实的；</p>

            <p>（3）丙方是拥有www.hcii.cn网站（以下简称&ldquo;花橙金融&rdquo;）的经营权，提供信息咨询，为交易提供信息服务；</p>

            <p>（4）乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系；</p>

            <p>现各方经协商一致，达成如下条款：</p>

            <p><strong>一、借款基本信息</strong></p>

            <p>1.1产品/项目编号： <u>{{Code}}</u> ；</p>

            <!--<p>1.2借款详细用途： <u></u> ；</p>-->

            <p>1.2借款本金数额：<u>{{OrMoney}}</u> 元；</p>

            <p>1.3借款利息数额：<u>{{Interest}}</u> 元；年化利率：<u>{{Rates}}</u>%；</p>

            <p>1.4借款期限：<u>{{UpTime}}</u>起至<u>{{EndDate}}</u>止；</p>

            <p>1.5还款日期：<u>{{Latest}}</u>。</p>

            <p><strong>二、还款资金来源</strong></p>

            <p>2.1还款资金来源：乙方自有资金，并以银行承兑凭证作为质押担保。</p>

            <p><strong>三、各方权利和义务 </strong></p>

            <p>3.1甲方的权利和义务</p>

            <p>3.1.1甲方应按协议约定的借款期限起始日期将借款本金通过与花橙金融对接的银行或第三方支付平台进行支付。</p>

            <p>3.1.2 乙方要求甲方将乙方向甲方的借款通过银行或第三方支付打入指定托管帐户 。</p>

            <p>3.1.3甲方应主动缴纳由利息所得带来的可能的税费。</p>

            <p>3.1.4甲方应确保其提供信息和资料的真实性、准确性、有效性，不得提供虚假信息或隐瞒重要事实。</p>

            <p>3.2乙方权利和义务</p>

            <p>3.2.1乙方应在还款日将借款的本金和利息打入与花橙金融对接的银行托管账户即代表乙方已完成还款。</p>

            <p>乙方委托丙方到银行办理质押票据的托收代付，并将款项在还款日支付给甲方。</p>

            <p>3.2.2若由于乙方原因导致借款不成功，则乙方应在收到借款一个工作日内将已收到的甲方借款通过花橙金融平台对接的银行或第三方支付无息返还至甲方对应的第三方账户。</p>

            <p>3.2.3乙方承诺所借款项用于本协议约定之用途，不用于任何违法目的。</p>

            <p>3.2.4乙方应按规定向丙方支付信息服务费。</p>

            <p>3.2.5乙方不得将本协议项下的任何权利义务转让给任何其他方。</p>

            <p>3.2.6乙方应确保其提供的信息和资料的真实性、合法性、有效性，不得提供虚假信息或隐瞒重要事实。</p>

            <p>3.2.7当出现危及借款安全的情况时，乙方应最迟在事件发生之日起</p>

            <p>10日内书面通知甲方和丙方，甲方、丙方有权要求其采取相应补救措施，以保证甲方资金安全。</p>

            <p>3.2.8乙方应如实提供有关证照、凭证、证明和其他资料，甲方、丙方有权了解其相关信息和经营情况，在有关方审查其资信材料、还款能力、借款用途、借款使用情况时予以积极配合。</p>

            <p>3.3丙方的权利和义务</p>

            <p>3.3.1丙方负责花橙金融平台的运行和维护。</p>

            <p>3.3.2 甲、乙、丙三方一致同意，甲方授权丙方在有必要时，丙方有权代甲方对乙方进行关于本协议借款的违约提醒及催收工作，包括但不限于：电话通知、上门催收提 醒、发律师函、主张票据受益权、行使票面权利、对乙方提起诉讼等。甲方在此确认委托丙方为其进行以上工作，并授权丙方可以将此工作委托给本协议外的其他方 进行。乙方对前述委托的提醒、催收事项已明确知晓并应积极配合。</p>

            <p>3.3.3丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。</p>

            <p>3.3.4丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露。</p>

            <p>3.3.5甲方、乙方在变更住所、通讯地址、联系电话或在花橙金融网站的注册信息等事项时，应在有关事项变更之日起3日内书面通知丙方。</p>

            <p>同时，乙方同意丙方将其提交给丙方的信息、资质、协议、质押物等信息公示在花橙金融网站。</p>

            <p>四、质押条款</p>

            <p>4.1乙方为保证还款，现以&nbsp;<u>{{SubBank}}</u> 银行承兑汇票（票号：&nbsp;&nbsp;<u>{{VoucherNumber}}</u>&nbsp;&nbsp;&nbsp;&nbsp; 票面金额：<u>{{VoucherMoney}}</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 到期日：<u>{{EndDate}}</u> ）向产品<u>{{Code}}</u> 项下的所有出借人质押，甲方作为出借人之一，即为质权人之一。乙方保证上述汇票是合法取得，不存在挂失、变造、仿造行为，也不存在任何法律纠纷。同时保证对上述汇票有充分的、无争议的所有权，基础交易关系无瑕疵、背书连贯。</p>

            <p>&nbsp;&nbsp;&nbsp; 乙方承诺在上述汇票质押给甲方前的汇票前手所发生的任何纠纷和经济损失均由乙方承担，并且甲方保留一切向乙方追索的权力。</p>

            <p>4.2质押担保的范围：为每个出借人的借款本金、利息、逾期利息、罚息、违约金、损害赔偿及其实现债权的全部费用，包括但不限于鉴定费、保管费、评估费、拍卖费、律师费、差旅费、税金等。</p>

            <p>甲方质押担保的借款总金额（大写）
            <u> {{VoucherMoneyCny}} </u>，利息总金额（大写）<u>{{VoucherInterestCny}}</u>。</p>

            <p>4.3乙方应于<u> {{VoucherUpTime}} </u>前将银行承兑汇票交付甲方或甲方委托办理质押手续的第三方占有，并办理背书。</p>
            {{/each}}
            {{else}}
                  <h4>乙方（借款人）：[未支付]</h4>
                  <p>营业执照号码：[未支付] </p>
                  <h4>丙方： 花橙互联网金融信息服务（上海）有限公司</h4>

                  <p>&nbsp;</p>

                  <p>鉴于：</p>

                  <p>（1）甲方已在花橙金融注册，具有签署本协议的行为能力并承诺对本协议涉及的借款具有完全的支配能力，是其自有闲散资金，为其合法所得；并承诺其提供给丙方的信息是完全真实的；</p>

                  <p>（2）乙方已在花橙金融注册，并承诺其提供给丙方的信息是完全真实的；</p>

                  <p>（3）丙方是拥有www.hcii.cn网站（以下简称&ldquo;花橙金融&rdquo;）的经营权，提供信息咨询，为交易提供信息服务；</p>

                  <p>（4）乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系；</p>

                  <p>现各方经协商一致，达成如下条款：</p>

                  <p><strong>一、借款基本信息</strong></p>

                  <p>1.1产品/项目编号： <u>[未支付]</u> ；</p>

                  <!--<p>1.2借款详细用途： <u></u> ；</p>-->

                  <p>1.2借款本金数额：<u>[未支付]</u> 元；</p>

                  <p>1.3借款利息数额：<u>[未支付]</u> 元；年化利率：<u>[未支付]</u>%；</p>

                  <p>1.4借款期限：<u>[未支付]</u>起至<u>[未支付]</u>止；</p>

                  <p>1.5还款日期：<u>[未支付]</u>。</p>

                  <p><strong>二、还款资金来源</strong></p>

                  <p>2.1还款资金来源：乙方自有资金，并以银行承兑凭证作为质押担保。</p>

                  <p><strong>三、各方权利和义务 </strong></p>

                  <p>3.1甲方的权利和义务</p>

                  <p>3.1.1甲方应按协议约定的借款期限起始日期将借款本金通过与花橙金融对接的银行或第三方支付平台进行支付。</p>

                  <p>3.1.2 乙方要求甲方将乙方向甲方的借款通过银行或第三方支付打入指定托管帐户 。</p>

                  <p>3.1.3甲方应主动缴纳由利息所得带来的可能的税费。</p>

                  <p>3.1.4甲方应确保其提供信息和资料的真实性、准确性、有效性，不得提供虚假信息或隐瞒重要事实。</p>

                  <p>3.2乙方权利和义务</p>

                  <p>3.2.1乙方应在还款日将借款的本金和利息打入与花橙金融对接的银行托管账户即代表乙方已完成还款。</p>

                  <p>乙方委托丙方到银行办理质押票据的托收代付，并将款项在还款日支付给甲方。</p>

                  <p>3.2.2若由于乙方原因导致借款不成功，则乙方应在收到借款一个工作日内将已收到的甲方借款通过花橙金融平台对接的银行或第三方支付无息返还至甲方对应的第三方账户。</p>

                  <p>3.2.3乙方承诺所借款项用于本协议约定之用途，不用于任何违法目的。</p>

                  <p>3.2.4乙方应按规定向丙方支付信息服务费。</p>

                  <p>3.2.5乙方不得将本协议项下的任何权利义务转让给任何其他方。</p>

                  <p>3.2.6乙方应确保其提供的信息和资料的真实性、合法性、有效性，不得提供虚假信息或隐瞒重要事实。</p>

                  <p>3.2.7当出现危及借款安全的情况时，乙方应最迟在事件发生之日起</p>

                  <p>10日内书面通知甲方和丙方，甲方、丙方有权要求其采取相应补救措施，以保证甲方资金安全。</p>

                  <p>3.2.8乙方应如实提供有关证照、凭证、证明和其他资料，甲方、丙方有权了解其相关信息和经营情况，在有关方审查其资信材料、还款能力、借款用途、借款使用情况时予以积极配合。</p>

                  <p>3.3丙方的权利和义务</p>

                  <p>3.3.1丙方负责花橙金融平台的运行和维护。</p>

                  <p>3.3.2 甲、乙、丙三方一致同意，甲方授权丙方在有必要时，丙方有权代甲方对乙方进行关于本协议借款的违约提醒及催收工作，包括但不限于：电话通知、上门催收提 醒、发律师函、主张票据受益权、行使票面权利、对乙方提起诉讼等。甲方在此确认委托丙方为其进行以上工作，并授权丙方可以将此工作委托给本协议外的其他方 进行。乙方对前述委托的提醒、催收事项已明确知晓并应积极配合。</p>

                  <p>3.3.3丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。</p>

                  <p>3.3.4丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露。</p>

                  <p>3.3.5甲方、乙方在变更住所、通讯地址、联系电话或在花橙金融网站的注册信息等事项时，应在有关事项变更之日起3日内书面通知丙方。</p>

                  <p>同时，乙方同意丙方将其提交给丙方的信息、资质、协议、质押物等信息公示在花橙金融网站。</p>

                  <p>四、质押条款</p>

                  <p>4.1乙方为保证还款，现以&nbsp;<u> [未支付] </u> 银行承兑汇票（票号：&nbsp;&nbsp;<u> [未支付] </u>&nbsp;&nbsp;&nbsp;&nbsp; 票面金额：<u> [未支付] </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 到期日：<u> [未支付] </u> ）向产品<u> [未支付] </u> 项下的所有出借人质押，甲方作为出借人之一，即为质权人之一。乙方保证上述汇票是合法取得，不存在挂失、变造、仿造行为，也不存在任何法律纠纷。同时保证对上述汇票有充分的、无争议的所有权，基础交易关系无瑕疵、背书连贯。</p>

                  <p>&nbsp;&nbsp;&nbsp; 乙方承诺在上述汇票质押给甲方前的汇票前手所发生的任何纠纷和经济损失均由乙方承担，并且甲方保留一切向乙方追索的权力。</p>

                  <p>4.2质押担保的范围：为每个出借人的借款本金、利息、逾期利息、罚息、违约金、损害赔偿及其实现债权的全部费用，包括但不限于鉴定费、保管费、评估费、拍卖费、律师费、差旅费、税金等。</p>

                  <p>甲方质押担保的借款总金额（大写）
                  <u> [未支付] </u>，利息总金额（大写）<u> [未支付] </u>。</p>

                  <p>4.3乙方应于<u> [未支付] </u>前将银行承兑汇票交付甲方或甲方委托办理质押手续的第三方占有，并办理背书。</p>
            {{/if}}



            <p>4.4质押期间，乙方不得赠与、迁移、转让、再质押或以其他任何方式处分本合同项下质物，也不得在未经甲方、丙方书面同意的情况下对质押票据申请挂失止付等保全措施。</p>

            <p>4.5在乙方向全体出借人清偿全部应付本、息及其它应付费用之前，该质押不得解除。</p>

            <p>4.6乙方因隐瞒质物存在共有、争议、被查封、或已设定质押权等情况而给甲方造成经济损失的，应向甲方支付借款合同项下借款金额 30％的违约金，违约金不足以弥补甲方损失的，乙方还应就不足部分予以赔偿。</p>

            <p>4.7 乙方如不能按时归还本、息，甲方有权选择以质押汇票变现，或以拍卖、变卖、兑现的价款优先受偿，实现质权。不足受偿部分，甲方有权继续向乙方追偿。若乙方被宣布解散或破产及足以危及协议履行的其他事宜，甲方有权提前处分其质物。</p>

            <p><strong>五、违约责任 </strong></p>

            <p>5.1协议各方均应严格履行协议义务，非经各方协商一致，任何一方不得解除本协议。</p>

            <p>5.2任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师费等费用。</p>

            <p>5.3若逾期还款，乙方同意除按本协议规定支付利息外，每逾期一天按1%支付罚息。</p>

            <p>5.4本协议中的甲方与乙方之间的借款均是独立的，一旦乙方逾期未归还借款本息，甲方有权向乙方追索或者提起诉讼。若乙方逾期支付居间服务费或提供虚假信息的，丙方亦可单独向乙方追索或者提起诉讼，并有追究因乙方虚假信息造成甲方、丙及其它第三方之损失之权力。</p>

            <p><strong>六、提前还款 </strong></p>

            <p>6.1乙方在取得甲方书面同意并提前10个工作日通知丙方方可提前偿还剩余借款，否则本协议继续履行。</p>

            <p>6.2提前偿还全部借款</p>

            <p>（1）乙方提前清偿全部借款时，除按实际借款天数计息外还应支付提前还款补偿（补偿金额为借款本金的10%）。</p>

            <p>（2）乙方提前清偿全部借款时，丙方无须退还已收取的包括但不限于信息服务费等费用。</p>

            <p>6.3提前偿还部分借款</p>

            <p>（1）乙方提前偿还部分借款，仍应向甲方支付全部借款利息。</p>

            <p>（2）乙方提前偿还部分借款，丙方无须退还已收取的包括但不限于信息服务费等费用。</p>

            <p>6.4甲方无正当理由不得提前收回借款，如因生计确需提前收回借款的，应提前30日书面告知乙方和丙方，若乙方同意，利息按银行同期活期存款利率计，期限以实际借款天数为准；若乙方不同意,则本协议继续履行。</p>

            <p><strong>七、争议解决 </strong></p>

            <p>对于因本协议履行而发生的争议，三方可协商解决，协商不成的向丙方注册地法院提起诉讼。</p>

            <p><strong>八、附则 </strong></p>

            <p>8.1 本协议采用电子文本形式制成，甲乙双方同意按照丙方网站要求所填写的确认信息是其合法有效的电子签名，并保存在丙方为此设立的专用服务器上备查，各方均认 可该形式的协议效力。甲方、乙方应当妥善保管其在丙方所留注册信息、密码等，若因非丙方原因导致上述信息泄露而造成甲方、乙方损失，则由甲方、乙方自行承 担相应责任。</p>

            <p>8.2本协议自文本最终生成之日生效。</p>

            <p>8.3本协议签订之日起至借款全部清偿之日止，若甲方和乙方在花橙金融注册的信息有变更的，应在发生变更的三日内提供更新后的信息给丙方。若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方承担。</p>

            <p>8.4 如果本协议的任何条款因法律、法规、政策的变化而无效或不可执行时，不影响本协议的其他条款的效力。</p>
            <br/>
            客户服务电话：4000-267-555

        </div>

        {{>bottom}}
    </div>
