{{! 委托协议模板}}
{{#section 'style'}}
    <link rel="stylesheet" href="{{static '/styles/hc-reset.css'}}"/>
{{/section}}


    <div class="agreement">
        <a href="/" title="花橙金融" class="hcicon logo"></a>
        <a href="javascript:void(0);" onclick="window.print();return false;" class="print">打印</a>
        <h2>委托协议</h2>
        <div>
            <h4>委托人（质权人）：{{#user}}{{Name}}{{/user}}</h4>
            <h4>受托人：花橙互联网金融信息服务（上海）有限公司</h4>
                {{#if item}}
                {{#each item}}
                委托人因与<u>  {{Company}}   </u>质押借款事项，特委托受托人代为办理汇票质押相关事项，现协议如下：<br/>

                ●质押借款基本事项：借款人 <u>{{Company}}</u> 因企业经营需要向质权人借款，借款人为了保证还款，以 <u>{{SubBank}}</u> 承兑汇票（票面金额：<u>{{VoucherMoney}}</u> 出票银行：<u>{{SubBank}}</u>  到期日：<u>{{Expire}}</u> ）向质权人质押。<br/>
                ●委托事项：代为办理汇票质押手续；<br/>
                ●代为办理背书并记载“已质押”、“不得转让”字样；<br/>
                ●代为接受质押票据；<br/>
                ●由受托人委托银行代为验证票据的真伪，代为保管票据。<br/>
                ●针对借款、票据质押引起的纠纷，代为诉讼（承认、变更、放弃诉讼请求；代为和解、上诉和反诉）；<br/>
                ●代为签署相关法律文书；<br/>
                ●代为行使和主张相关票据受益权、付款请求权、追索权；<br/>
                ●委托人对于受托人在上述授权范围内所进行的民事行为后果承担相应责任。受托人代为签署、背书、被背书、接受、移交汇票等行为的法律后果及权利、义务由委托人自行承担。<br/>
                ●质押票据的真实性、合法性、有效性、出质人前手之间交易的真实性、背书连贯性等风险，及汇票出票人、承兑人、背书人、被背书人的任何瑕疵、风险及/或因此产生的纠纷和后果，由委托人自行承担，受托人不承担任何责任。<br/>
                ●票据出票人、承兑人、付款人、代付款人出现不能付款的情况或票据被挂失止付等情况引起的后果由委托人自行承担。<br/>
                ●委托人的上述委托行为在委托期限内是不可变更和撤销的。<br/>
                ●上述委托事项委托权限自委托人在受托人网站平台确认委托之时开始至委托人（质权人）出借资金本、息及其它相关费用全额得到清偿或实现质权之日止。<br/>
                ●因本委托协议引起的纠纷，不能协商解决的，由受托人经营地人民法院诉讼管辖。<br/>

            受托人：花橙互联网金融信息服务（上海）有限公司<br/>
            日期：<u>{{UpTime}}</u><br/><br/>
            {{/each}}
            {{else}}
                委托人因与<u>  [未支付]   </u>质押借款事项，特委托受托人代为办理汇票质押相关事项，现协议如下：<br/>

                ●质押借款基本事项：借款人 <u>{{Company}}</u> 因企业经营需要向质权人借款，借款人为了保证还款，以 <u> [未支付] </u> 承兑汇票（票面金额：<u> [未支付] </u> 出票银行：<u> [未支付] </u>  到期日：<u> [未支付] </u> ）向质权人质押。<br/>
                ●委托事项：代为办理汇票质押手续；<br/>
                ●代为办理背书并记载“已质押”、“不得转让”字样；<br/>
                ●代为接受质押票据；<br/>
                ●由受托人委托银行代为验证票据的真伪，代为保管票据。<br/>
                ●针对借款、票据质押引起的纠纷，代为诉讼（承认、变更、放弃诉讼请求；代为和解、上诉和反诉）；<br/>
                ●代为签署相关法律文书；<br/>
                ●代为行使和主张相关票据受益权、付款请求权、追索权；<br/>
                ●委托人对于受托人在上述授权范围内所进行的民事行为后果承担相应责任。受托人代为签署、背书、被背书、接受、移交汇票等行为的法律后果及权利、义务由委托人自行承担。<br/>
                ●质押票据的真实性、合法性、有效性、出质人前手之间交易的真实性、背书连贯性等风险，及汇票出票人、承兑人、背书人、被背书人的任何瑕疵、风险及/或因此产生的纠纷和后果，由委托人自行承担，受托人不承担任何责任。<br/>
                ●票据出票人、承兑人、付款人、代付款人出现不能付款的情况或票据被挂失止付等情况引起的后果由委托人自行承担。<br/>
                ●委托人的上述委托行为在委托期限内是不可变更和撤销的。<br/>
                ●上述委托事项委托权限自委托人在受托人网站平台确认委托之时开始至委托人（质权人）出借资金本、息及其它相关费用全额得到清偿或实现质权之日止。<br/>
                ●因本委托协议引起的纠纷，不能协商解决的，由受托人经营地人民法院诉讼管辖。<br/>

                受托人：花橙互联网金融信息服务（上海）有限公司<br/>
                日期：<u> [未支付] </u><br/><br/>
            {{/if}}
            客户服务电话：4000-267-555

        </div>

        {{>bottom}}
    </div>
